<div class="page-width page-content">
  <header class="section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
      <!-- {{ 'general.404.subtext_html' | t: url: routes.root_url }} -->
      <br/>
      <a href="//byzoomfitness.com/collections/all-product">繼續購物</a>
    </div>
    <!-- 內嵌googleMAP -->
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29095.948865483573!2d120.54747462272647!3d24.27695379124903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346913f8d950b201%3A0xfe3372ceb12c7474!2z5riF5rC05LqU5qyK5aSc5biC!5e0!3m2!1szh-TW!2stw!4v1711694433676!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
  </header>
</div>

{% schema %}
{
  "name": "t:sections.main-404.name"
}
{% endschema %}
