/* ****************************地區選擇modal by zeus20230913**************************************************** */
.local-background-div {
    /* box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7); */
    box-shadow: 5px 10px 10px gray;
    border-radius: 20px;
    border: 1px black solid;
    background-image: url('https://cdn.shopify.com/s/files/1/0737/8396/8032/files/3-09.jpg?v=1691733865');
    background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 80vw;
	height: 80vh;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.local-div {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	color: #fff;
	width: 80vw;
	text-align: center;
	/* margin-top: -4rem; */
}

.button-div {
	margin-top: 2rem;
}

.button {
	display: inline-block;
	font: 500 0.875rem/1 GT-Walsheim-regular, sans-serif;
	text-decoration: none;
	padding: 1rem 1.5rem;
	text-align: center;
	border: 2px solid #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #00000063;
	color: #fff;
	min-width: 200px;
	margin: 0.5rem;
}

.buttonDiv{
    height: 30px;
    display: flex;
    flex-direction: column;
    position: relative; 
    top: 8px; 
}

.buttonDiv2{
    height: 30px;
    display: flex;
    flex-direction: column;
    position: relative; 
    top: -4px; 
}

.button:hover {
	background: #fff;
	color: #000;
	border-color: #000;
	font-weight: 500;
}

.title_1 {
  font-size: 24px;
}
.title_2 {
  font-size: 40px;    
}  
.title_3 {
  font-size: 40px;           
}
.button {
  font-size: 15px;
}  

/* .button:active {
	opacity: 0.7;
	font-size: 0.85rem;
} */

@media only screen and (max-width: 767px) {
	.local-background-div {
		background-image: url('https://cdn.shopify.com/s/files/1/0737/8396/8032/files/0312.webp?v=1710224285');
		width: 90vw;
		height: 85vh;
        margin-top: 1vh;
	}
    .local-div {
        margin-top: 0.5vh;
    	width: 90vw;
    }
    .title_1 {
      font-size: 2vh;
      margin: 1.8vh auto;
    }
    .title_2 {
      font-size: 2.8vh;
      margin: 1.8vh auto;
    }  
    .title_3 {
      font-size: 2vh;
      margin: 1.8vh auto;
    }
    .button-div {
      margin-top: 0vh;
    }  
    .button {
      width: 70%;
      font-size: 2vh;
      padding: 1.8vh 0;
      margin: 1vh auto;
    }  
    .buttonDiv{
        height: inherit;
        display: inherit;
        flex-direction: inherit;
        position: inherit; 
        top: inherit; 
    }
    
    .buttonDiv2{
        height: inherit;
        display: inherit;
        flex-direction: inherit;
        position: inherit; 
        top: inherit;
    }
}