@charset "UTF-8";
/* @import url("navigation.css"); */
/* 使用 url */
/* 只在媒体为 screen 且视口最大宽度 768 像素时导入 "mobstyle.css" 样式表： */
/* @import "mobstyle.css" screen and (max-width: 768px); */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap'); */

:root {
	/* --seanFontFamily: 'Roboto', 'Noto Sans TC'; */
	--seanColorGolden: #9e7d53;
	--seanColorWhite: #fff;
}

body {
	/* font-family: var(--seanFontFamily, inherit); */
}

.background-div {
	background-image: url('//cdn.shopify.com/s/files/1/0737/8396/8032/files/BG.jpg?v=1693368050');
	/* background-image: url("./20230223/2560x1212_lobby_hero_desktop.png"); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-position: center; */
    background-position: left;
	background-size: cover;
	/*
    position: fixed;
    width: 70vw;
	height: 80vh;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0); */
}

.text-position {
  text-align: left;
}

.text-position>H3{
  letter-spacing: 6px;
  color: #b5b5b6;
}

.text-position>p{
  letter-spacing: 6px;
  color: #b5b5b6;
  font-size: 16px !important;
  font-weight: initial !important;
}

.page-full.page-content.background-div {
    margin-bottom: -80px;
    min-height: 700px;
}

#_search_result {
	margin-top: 40px !important;
}

.rte.rte--nomargin {
    margin-left: 160px;
}

.rte.rte--nomargin p {
  /* margin-top: 20px !important; */
  font-size: 15px;
}

.font-20.text-golden.font-weight-500 {
  margin-top: -10px;
}

.service-form {
    margin-top: 20px !important;
	width: 500px !important;
}

.service-form .field-group .bootstrap-select {
	width: 100% !important;
}

.service-form .field-group .bootstrap-select .dropdown-toggle {
	padding: 10px 24px !important;
	border: 1px solid white !important;
	border-radius: 0 !important;
	background: transparent !important;
}

.service-form .field-group .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
	color: white !important;
}

.service-form .field-group .bootstrap-select .dropdown-menu {
	margin-top: 0px !important;
	padding: 0 !important;
	border-radius: 0 !important;
	border: 0 !important;
}

.service-form .field-group .bootstrap-select .dropdown-menu .selected.active {
	color: #fff !important;
}

li.border-bottom-F7F7F7 {
    margin: -20px 0px;
}

.service-form .field-group .bootstrap-select .dropdown-menu li {
	border-bottom: 1px solid #dcdcdc !important;
}

.service-form .field-group .bootstrap-select .dropdown-menu li .dropdown-item {
	padding: 8px 24px !important;
}

.service-form .field-group .bootstrap-select .dropdown-menu li .dropdown-item.active {
	background: #9e7d53 !important;
}

.service-form .field-group .bootstrap-select .dropdown-menu li .dropdown-item:not(.active):hover {
	background: transparent;
	color: #9e7d53 !important;
}

form.service-form .field-group .bootstrap-select .dropdown-toggle:active,
form.service-form .field-group .bootstrap-select .dropdown-toggle:hover,
form.service-form .field-group .bootstrap-select .dropdown-toggle:focus {
	outline: 0 !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.BrandonGrotesque {
	font-family: var(--seanFontFamily, inherit) !important;
}

.text-golden {
	color: var(--seanColorGolden, inherit) !important;
}

.text-white {
	color: var(--seanColorWhite, inherit) !important;
}

.font-45 {
	font-size: 45px !important;
}

.font-20 {
	font-size: 20px !important;
}

ul.noneStyle {
	margin: 30px 0!important;
	padding: 0 !important;
	list-style: none !important;
}

#_search_result a,
#_search_result a:active {
	color: inherit;
	cursor: pointer !important;
	text-decoration: none !important;
}

#_search_result a:hover {
	text-decoration: none !important;
	color: inherit
}

#_search_result p {
  font-size: 16px;
}

/* #_search_result > ul > li > p:nth-child(1) {
    letter-spacing: 5px;
} */

.text-hover-golden {
	transition: all 0.3s !important;
}

.text-hover-golden:hover {
	color: #9e7d53 !important;
}

[data-aos] {
	pointer-events: none !important;
}
.aos-animate {
	pointer-events: auto !important;
}
.aos-init[data-aos][data-aos].aos-animate {
	transform: unset !important;
}

@media only screen and (max-width: 767px) {
	.background-div {
  		background-image: none;
	}

    .service-form {
        margin-top: 30px !important;
    	width: 100% !important;
    }

    .text-position {
      text-align: center;
    }

    .text-position>H3, .text-position>p{
      letter-spacing: 3px;
    }
  
    .rte.rte--nomargin {
        margin-left: initial;
    }
  
   	.font-45 {
		font-size: 38px !important;
	}

	.font-20 {
		font-size: 22px !important;
	}

    .col-12 {
        max-width: 50%;
    }

    .text-hover-golden {
        font-size: 16px !important;
    }

    li.border-bottom-F7F7F7 {
        margin: -10px 0px;
    }
}
