/* ****************************將修改購物車樣式 createDATE by zeus20240322**************************************************** */
/* akohub-widget {
    font-size: 2.3em !important;
} */

.cart__note textarea {
  border: 1px solid white;
}
#CartDrawerSpecialInstructions {
  border: 1px solid white;
}

.cart__note label {
  font-size: 14px;
}

#CartDrawer {
  background-color: #323234;
}

.cart-has-items .site-nav__link--cart.site-nav__link--cart {
    background-color: transparent !important;
}

.cart-has-items .site-nav__link--cart.site-nav__link--cart {
    color: #1d1d1e;
}
.header-wrapper.header-wrapper--overlay.is-light .site-nav__link--cart {
    color: var(--colorCartDotText);
}
.header-wrapper.header-wrapper--overlay.header-wrapper--sticky .site-nav__link--cart {
    color: #1d1d1e;
}
.cart-has-items .site-nav__link--cart.site-nav__link--cart:active, .cart-has-items .site-nav__link--cart.site-nav__link--cart:hover {
    color: inherit;
}

.site-nav__link--cart .cart-link__bubble-num {
  color: #b5b5b5 !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

@media only screen and (max-width: 767px) {
  .cart__note label {
    font-size: 13px;
  }
  
  .cart__product-name {
      font-size: 14px;
      /* line-height: 1; */
      margin-bottom: 1px;
  }
}

/* ****************************將block裏的明細文字全部改成字首大寫 createDATE by zeus20240130**************************************************** */
.grid__item.grid-column .rte-setting.text-spacing > * {
    text-transform: lowercase;
}
.grid__item.grid-column .rte-setting.text-spacing > *:first-letter {
    text-transform: uppercase;
}
.feature-row__text > div > * {
    text-transform: lowercase;
}
.feature-row__text > div > *:first-letter {
    text-transform: uppercase;
}
.theme-block > .rte > * {
    text-transform:lowercase;
}
.theme-block > .rte > *:first-letter {
    text-transform:uppercase;
}
/* ****************************HEAD MENU 加入自製的語言選擇桌面用 createDATE by zeus202410125**************************************************** */
.seanLanguageSelect-toggle .content {
    display: none;
    position: absolute;
    /* top: 100%;
    left: 50%; */
    /* transform: translateX(-50%); */
    box-shadow: 10px 8px 10px 1px #ffffff40;
    width: 140px;
    height: auto;
    padding-top: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color:white;
    z-index:99999;
    /* padding-left: 0!important;
    padding-right: 0!important; */
}

.seanLanguageSelect-toggle .content ul {
    margin: 5px 0 -4px 0;
    padding: 0;
    text-align: center;
}

.seanLanguageSelect-toggle .content ul li {
    border-bottom: 1px solid #DCDCDC;
    padding: 10px 0px;  
}

/* ****************************HEAD MENU 加入自製的語言選擇手機用 createDATE by zeus202410125**************************************************** */
.lang-list-box a {
    width: 100%;
    display: block;
    /* padding: 10px 13px 10px 22px; */
    text-align: center;
    font-size: 14px;
    color: bisque;
}

/* ****************************HEAD MENU 右邊ico移入下沉 createDATE by zeus20241018**************************************************** */
.site-nav__icons a:active svg.icon {
  transform: translateY(2px);
}

.site-nav__icons a svg {
  transition: transform .3s;
}

/* ****************************footer createDATE by zeus20241018**************************************************** */
body {
    padding-bottom: 0px !important;
}

/* ****************************HEAD MENU 拉大 by zeus20241018**************************************************** */
.site-header > .page-width {
    max-width: 1600px;
}

/* ****************************Footer加入fb、ig、line、youtube by zeus20241018**************************************************** */
footer .seanFooterDiv4 .society a svg.fb {
    width: 10px;
}

footer .seanFooterDiv4 .society a svg.ig {
    width: 20px;
}

footer .seanFooterDiv4 .society a svg.line {
    width: 22px;
}

footer .seanFooterDiv4 .society a svg.youtube {
    width: 22px;
}

footer .seanFooterDiv4 .society.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: left;
}

footer .seanFooterDiv4 .society.noneStyle>li {
    list-style: none;
    padding-right: 1.5rem;
}

footer .seanFooterDiv4 .society a svg path {
    transition: fill .3s;
}

footer .seanFooterDiv4 .society a:hover svg path {
    fill: #9E7D53 !important;
}

/* ****************************產品規格表 by zeus20230913**************************************************** */
.sean-picDIV {
  height: 700px;
}
.sean-tDIV {
  width: 50%;
}
.sean-tb {
  width: 60%;
}

@media only screen and (max-width: 767px) {
  .shopify-section-group-footer-group {
    background-color: black;
    margin-bottom: -30px;
  }
  /*     .header-wrapper--overlay {
      background: linear-gradient(90deg, black, transparent);
      width:100%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 100;
    } */
  .sean-picDIV {
    height: 500px;
  }
  .sean-tDIV {
    width: 90%;
  }
  .sean-tb {
    width: 90%;
  }
}

/* ****************************下載頁面使用page-download by zeus20230913**************************************************** */
.page-download {
  max-width: 100%;
  margin: 0 auto;
}
.page-download h2 {
  text-align: center;
  margin: 60px 0;
}
.page-download .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: calc(var(--typeBaseSize) + 1px);
}
.page-download .table .tr a{
  text-decoration: none !important;;
}
.page-download .border-bottom-DCDCDC {
  border-bottom: 1px solid #dcdcdc;
}
.page-download .border-top-DCDCDC {
  border-top: 1px solid #dcdcdc;
}
.page-download .bg-F7F7F7 {
  background: #f7f7f7;
}
.page-download .pl-3,
.page-download .px-3 {
  padding-left: 1rem;
}
.page-download .d-flex {
  display: flex;
}
.page-download .flex-grow {
  flex-grow: 1;
}
.page-download .text-center {
  text-align: center;
}
.page-download .text-left {
  text-align: left;
}
.page-download .pt-3,
.page-download .py-3 {
  padding-top: 1rem;
}
.page-download .pb-3,
.page-download .py-3 {
  padding-bottom: 1rem;
}
.page-download .align-center {
  align-items: center;
}
.page-download .ml-auto,
.page-download .mx-auto {
  margin-left: auto;
}
.page-download .mr-auto,
.page-download .mx-auto {
  margin-right: auto;
}
.page-download .hidden {
  display: none;
}
.page-download .d-block {
  display: block;
}
.page-download .d-inline-block {
  display: inline-block;
}
@media (min-width: 1200px) {
  .page-download .pl-xl-4,
  .page-download .px-xl-4 {
    padding-left: 1.5rem;
  }
  .page-download .pr-xl-4,
  .page-download .px-xl-4 {
    padding-right: 1.5rem;
  }
  .page-download .ml-xl-1,
  .page-download .mx-xl-1 {
    margin-left: 0.25rem;
  }
  .page-download .pl-xl-5,
  .page-download .px-xl-5 {
    padding-left: 3rem;
  }
}
@media (max-width: 767px) {
  .page-download .table {
    font-size: calc(var(--typeBaseSize) - 2px);
  }  
  .page-download .d-none {
    display: none !important;
  }
  .page-download .text-md-center {
    text-align: right;
  }
  .page-download .td::before {
    content: attr(data-th);
    display: inline-block;
  }
  .page-download .pb-4,
  .page-download .py-4 {
    padding-bottom: 1.5rem;
  }
  .page-download .td:nth-child(3),
  .page-download .td:nth-child(2) {
    padding-left: 106px;
  }
}
@media (min-width: 768px) {
  .page-download .pt-md-2,
  .page-download .py-md-2 {
    padding-top: 0.5rem;
  }
  .page-download .pb-2,
  .page-download .py-2 {
    padding-bottom: 0.5rem;
  }
  .page-download .text-md-center {
    text-align: center;
  }
  .page-download .mb-md-1,
  .page-download .my-md-1 {
    margin-bottom: 0.25rem;
  }
  .page-download .mt-md-1,
  .page-download .my-md-1 {
    margin-top: 0.25rem;
  }
  .page-download .d-md-table {
    display: table;
  }
  .page-download .d-md-flex {
    display: flex;
  }
}
